{% extends "base.html" %}
{% block content %}
<style>
	#login {
		width: 400px;
		margin: 0 auto;
		padding: 30px;
		border: 2px solid #ccc;
		border-radius: 10px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
		text-align: center;
		background-color: #f9f9f9;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	
	#login p {
		margin-bottom: 20px;
		font-size: 24px;
		color: #333;
	}
	
	#login input[type="text"],
	#login input[type="password"] {
		width: 100%;
		padding: 10px;
		margin-bottom: 20px;
		border: 2px solid #ccc;
		border-radius: 5px;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
		font-size: 16px;
		color: #333;
	}
	
	#login button {
		width: 100%;
		padding: 10px;
		background-color: #4CAF50;
		color: white;
		border: none;
		border-radius: 5px;
		cursor: pointer;
		font-size: 18px;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	}
	
	#login button:hover {
		background-color: #45a049;
	}
	
	#reg {
		color: #47b9ff;
	}
	
    .tip {
        width: 100%;
        text-align: left;
        margin-bottom: 5px;
        font-size: 16px;
        color: #333;
    }
	
	.remember-me {
        display: flex;
        align-items: center;
        width: 100%;
        margin-bottom: 20px;
    }

    .remember-me input[type="checkbox"] {
        margin-right: 10px;
    }
	
	</style>
	
	<form action="/login" method="post">
		<div id="login" style="margin-top: 200px;">
			<p align="center">登录</p>
			<div class="tip">用户名：</div>
			<input id="username" type="text" name="username" required />
			<div class="tip">密码：</div>
			<input id="password" type="password" name="password" required/>
            <div class="remember-me">
                <input id="uap" type="checkbox" name="remember">
                <label for="uap">记住登录？</label>
            </div>
			<button type="submit">登录</button>
			<div>没有账号？<a id="reg" href="/reg">点我注册NyaID</a></div>
		</div>
	</form>
{% endblock %}